$light-blue: #00acee;
$lighten-blue: #a0e1f9;
$dark-blue: #0071bc;
$extra-light-blue: #d9f1fb;
$blue: #1d9cd8;
$background-color: #fff;
$white: #fff;
$black: #000;
$transparent-white-dark: rgba(255, 255, 255, .9);
$transparent-white: rgba(255, 255, 255, .7);
$semi-transparent-white: rgba(255, 255, 255, .5);
$semi-transparent-black: rgba(0, 0, 0, .5);
$gray: #333;
$dark-gray: #1d1d1b;
$light-gray: #ececec;
$label-gray: #666;
$border-gray: #b3b3b3;
$online-gray: #f5f5f5; 
$item-border: #e0e0e0;
$fields-border: #ccc;
$green: #8fc93a;
$dark-green: #84bd52;
$nav-border: #c0ebfb;
$link-color: #00aeef;
$link-active-color: #005a96;
$subtitle-color: #00aef0;
$label-color: #005a96;
$icon-border: #eef8fb;
$link-divider: #999;
