.clear-fix:after {
  content: "";
  display: block;
  clear: both;
}

.fl-left {
  float: left;
}

.fl-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}

.table {
  display: table;
  width: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: top;
}
