@import './variables/breakpoints';

.cell {
  display: table-cell;
  padding-left: 15px;
  vertical-align: top;
  width: 106px;

  @media (max-width: $medium) {
    padding-left: 0;

    &:first-child {
      padding-right: 5px;
    }

    &:last-child {
      padding-left: 5px;
    }
  }
}
