@import './variables/colors';
@import './variables/fonts';
@import './variables/breakpoints';

.item {
  width: 50%;
  float: left;

  @media (max-width: $medium) {
    float: none;
    width: auto;
  }
}

.inner {
  background: $white;
  font: 300 15px/16px $Helvetica;
  color: $dark-gray;
  margin: 0 0 15px 15px;
  border: 1px solid $item-border;
  box-shadow: 0 0 2px $item-border;
  padding: 15px 7px;

  @media (max-width: $medium) {
    margin-left: 0;
  }
}

.top-block {
  margin: 10px 12px 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid $light-gray;

  @media (max-width: $large) {
    margin: 0 0 12px;
  }
}

.title-row {
  margin-bottom: 10px;
}

.row {
  margin-bottom: 13px;
}

.title {
  font: 700 20px/22px $Helvetica;
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.rating {
  display: inline-block;
  background: url(./static/img/star-empty.svg);
  background-size: 20px;
  position: relative;
  height: 20px;
  width: 100px;
  vertical-align: middle;
  margin: 0 2px 0 -3px;
}

.current-rating {
  background: url(./static/img/star.svg);
  background-size: 20px;
  position: absolute;
  width: 0;
  height: 20px;
}

.rating-text {
  margin-right: 10px;
}

.cancellation,
.rating-text {
  display: inline-block;
  vertical-align: middle;
}

.tripadvisor {
  margin: -2px 0 0 4px;
}

.description {
  list-style: disc;
  padding-left: 18px;
}

.net-price {
  background: $extra-light-blue;
  margin-bottom: 8px;
}

.price-block {
  font: 300 12px/14px $Helvetica;
  padding: 3px 0 0 13px;
  vertical-align: top;

  @media (max-width: $large) {
    padding-left: 5px;
  }

  @media (max-width: $small) {
    text-align: center;
  }
}

.net-price-row {
  font: 300 36px/38px $Helvetica;
  text-align: center;
}

.online-price-row {
  font: 300 23px/24px $Helvetica;
  text-align: center;
}

.small-text {
  font: 300 14px/16px $Helvetica;
}

.x-small-text {
  font: 300 12px/14px $Helvetica;
}

.btn-cell {
  display: table-cell;
  width: 150px;
  vertical-align: top;

  &--online {
    composes: btn-cell;
    padding-top: 3px;
  }

  @media (max-width: $large) {
    width: 145px;
  }

  @media (max-width: $small) {
    vertical-align: middle;
  }
}
